<div *ngIf="basket!=null" class="container mt-5">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 py-5 mb-1">
                 <app-basket-summary
                 (decrement)="decrementItemQuantity($event)"
                 (increment)="incrementItemQuantity($event)"
                 (remove)="removeBasketItem($event)"
                 ></app-basket-summary>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals>
                    </app-order-totals>
                    <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                    <strong><b>Ödeme Yap</b></strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>